body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #666;
}

canvas {
  margin: 20px auto;
  display: block;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff; /* Couleur du texte blanc */
  background-color: #007bff; /* Couleur de fond bleue */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #80bfff; /* Couleur de fond bleu clair au survol */
}

.custom-bg {
  background-image: url("../background.jpg");
  background-size: cover; /* Adjust the size of the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  min-height: 120vh; /* Ensures the container is at least as tall as the viewport */
  overflow: auto; /* Allows scrolling if the content overflows */
  display: flex; /* Use flexbox to center the form vertically */
  justify-content: center;
  align-items: center;
  min-width: full;
  opacity: 1; /* Adjust the transparency level here */
  z-index: auto; /* Ensure the background image is behind the content */
}
